
         <div class="col-xs-12">
             <a  href="http://google.com">
             <%= image_tag("stc.JPG",class:"rightimage")%>
            </a>
            <p class="right"><a href=""><h5>Awesome piece of work!</h5></a>
            <a href="">Lorem ipsum dolor .....</a></p>
         </div>
         <div class="col-xs-12">
             <a  href="http://google.com">
             <%= image_tag("stc1.jpg",class:"rightimage")%>
            </a>
            <p class="right"><a href=""><h5>Awesome piece of work!</h5></a>
            <a href="">Lorem ipsum dolor .....</a></p>
         </div>
         <div class="col-xs-12">
             <a  href="http://google.com">
             <%= image_tag("stc2.jpg",class:"rightimage")%>
            </a>
            <p class="right"><a href=""><h5>Awesome piece of work!</h5></a>
            <a href="">Lorem ipsum dolor .....</a></p>
         </div>
         <div class="col-xs-12">
             <a  href="http://google.com">
             <%= image_tag("stc3.jpg",class:"rightimage")%>
            </a>
            <p class="right"><a href=""><h5>Awesome piece of work!</h5></a>
            <a href="">Lorem ipsum dolor .....</a></p>
         </div>
