
            <ul class="sidebar-nav">
               <li>
                <a href="/personal_details/<%=session[:personal_detail_id]%>/edit">Personal Details</a>
               </li>
                <li>
                    <a href="/addresses/<%=session[:address_id]%>/edit">Contact Details</a>
                </li>
                <li>
                     <a href="/educations/<%=session[:education_id]%>/edit">Education Details</a>
                </li>
                <li> <a href="/finances/<%=session[:finance_id]%>/edit"> Financial Details</a>
                </li>
                 <li> <a href="/searches/new">Donate Books</a></li>
                 <li> <a href="/searches/new">Donate Money</a></li>
                 <li> <a href="/searches/new">Search People</a></li>
                 <li> <a href="/searches/new">Search Books</a></li>
                 <li> <a href="/searches/new">Search Books</a></li>
                 <li>
                    <a href="#">Sign out</a>
                </li>
            </ul>
