<form class="form-horizontal">
    <ul class="nav nav-tabs big" id="myTab">
        <li class="active"><a href="#sectionA" data-toggle="tab">Personal Detail</a></li>
        <li><a href="#sectionB" data-toggle="tab">Contact Details</a></li>
        <li ><a href="#sectionC" data-toggle="tab">Education Details</a></li>
        <li ><a href="#sectionD" data-toggle="tab">Financial Details</a></li>
     </ul>
     <select  id="yourSelect" class="col-xs-6 small">
          <option value="0">Personal Detail</option>
          <option value="1">Contact Details</option>
          <option value="2">Education Details</option>
          <option value="3">Financial Details</option>
     </select>
     <div class="tab-content">
        <div id="sectionA" class="tab-pane fade in active">
            <h3 class="col-xs-12">Student Personal Details</h3>
            <div class="form-group ">
                <label for="nameField" class="col-xs-12 col-md-1">First Name</label>
            <div class="col-md-3 col-xs-12">
              <input type="text" class="form-control" id="nameField"
                    placeholder="Your First Name" />
            </div>
                    <label for="nameField" class="col-md-1 col-xs-12">Middle Name</label>
                    <div class="col-md-3 col-xs-12">
                    <input type="text" class="form-control" id="nameField"
                    placeholder="Your Middle Name" />
                    </div>
                     <label for="emailField" class="col-md-1 col-xs-12">Last Name</label>
                    <div class="col-md-3 col-xs-12">
                    <input type="email" class="form-control" id="emailField"
                    placeholder="Your Last Name" />
                    </div>
                    </div>
    <div class="form-group">
      <label for="dob" class="col-md-1 col-xs-12">Birth Date</label>
      <div class='col-md-3 col-xs-12'>
        <input type='text' name="dob" id='datepicker' class="form-control"
            placeholder="Date of Birth(MM/DD/YYYY)" />
      </div>
      <label for="gender" class="col-md-1 col-xs-12">Gender</label>
       <div class="btn-group-sm col-md-3 col-xs-12" data-toggle="buttons">
           <div>
              <label class="btn btn-info">
              <input type="radio" name="options">Male
              </label>
              <label class="btn btn-info">
              <input type="radio" name="options">Female
              </label>
          </div>
      </div> 
      <label for="descField" class="col-xs-1">Description</label>
        <div class="col-md-3">
            <textarea class="form-control" id="descField" placeholder="Your Comments">
        </textarea>
        </div>
   </div>
  <div class="form-group ">
                    <label for="nameField" class="col-xs-12 col-md-1">First Name</label>
                    <div class="col-md-3 col-xs-12">
                    <input type="text" class="form-control" id="nameField"
                    placeholder="Your First Name" />
                    </div>
                    <label for="nameField" class="col-md-1 col-xs-12">Middle Name</label>
                    <div class="col-md-3 col-xs-12">
                    <input type="text" class="form-control" id="nameField"
                    placeholder="Your Middle Name" />
                    </div>
                     <label for="emailField" class="col-md-1 col-xs-12">Last Name</label>
                    <div class="col-md-3 col-xs-12">
                    <input type="email" class="form-control" id="emailField"
                    placeholder="Your Last Name" />
                    </div>
</div>

  <div class="form-group ">
                    <label for="nameField" class="col-xs-12 col-md-1">First Name</label>
                    <div class="col-md-3 col-xs-12">
                    <input type="text" class="form-control" id="nameField"
                    placeholder="Your First Name" />
                    </div>
                    <label for="nameField" class="col-md-1 col-xs-12">Middle Name</label>
                    <div class="col-md-3 col-xs-12">
                    <input type="text" class="form-control" id="nameField"
                    placeholder="Your Middle Name" />
                    </div>
                     <label for="emailField" class="col-md-1 col-xs-12">Last Name</label>
                    <div class="col-md-3 col-xs-12">
                    <input type="email" class="form-control" id="emailField"
                    placeholder="Your Last Name" />
                    </div>

</div>

  <div class="form-group ">
                    <label for="nameField" class="col-xs-12 col-md-1">First Name</label>
                    <div class="col-md-3 col-xs-12">
                    <input type="text" class="form-control" id="nameField"
                    placeholder="Your First Name" />
                    </div>
                    <label for="nameField" class="col-md-1 col-xs-12">Middle Name</label>
                    <div class="col-md-3 col-xs-12">
                    <input type="text" class="form-control" id="nameField"
                    placeholder="Your Middle Name" />
                    </div>
                     <label for="emailField" class="col-md-1 col-xs-12">Last Name</label>
                    <div class="col-md-3 col-xs-12">
                    <input type="email" class="form-control" id="emailField"
                    placeholder="Your Last Name" />
                    </div>
</div>





                 <div id="sectionB" class="tab-pane fade">
                     <h3 class="col-xs-12">Student Contact Details</h3>
                    <div class="form-group">
                    <label for="nameField" class="col-xs-12 col-md-2">First Name</label>
                    <div class="col-md-4 col-xs-12">
                    <input type="text" class="form-control" id="nameField"
                    placeholder="Your First Name" />
                    </div>
                    <label for="nameField" class="col-md-2 col-xs-12">Middle Name</label>
                    <div class="col-md-4 col-xs-12">
                    <input type="text" class="form-control" id="nameField"
                    placeholder="Your Middle Name" />
                    </div>
                    </div>
                     <div class="form-group">
                    <label for="emailField" class="col-md-2 col-xs-12">Last Name</label>
                    <div class="col-md-4 col-xs-12">
                    <input type="email" class="form-control" id="emailField"
                    placeholder="Your Last Name" />
                    </div>
                    <label for="dob" class="col-md-2 col-xs-12">DOB(MM/DD/YYYY)</label>

            <div class='col-md-4 col-xs-12'>
            <input type='text' name="dob" id='datetimepicker5' class="form-control" data-date-format="YYYY/MM/DD" />
             </div>
             </div>
                    <div class="form-group">
                    <label for="phoneField" class="col-md-2 col-xs-12">Secondary Email</label>
                    <div class="col-md-4 col-xs-12">
                    <input type="text" class="form-control" id="phoneField"
                    placeholder="Your Phone Number" />
                    </div>
                    <label for="phoneField" class="col-md-2 col-xs-12">Phone</label>
                    <div class="col-md-4 col-xs-12">
                    <input type="text" class="form-control" id="phoneField"
                    placeholder="Your Phone Number" />
                    </div>
                    </div>
                    <div class="form-group">
                    <label for="descField" class="col-xs-2">Description</label>
                    <div class="col-xs-10">
                    <textarea class="form-control" id="descField"
                    placeholder="Your Comments"></textarea>
                    </div>
                    </div>
                </div>
                <div id="sectionC" class="tab-pane fade">
                      <h3 class="col-xs-12">Student Educational Details</h3>
                    <div class="form-group">
                    <label for="nameField" class="col-xs-12 col-md-2">First Name</label>
                    <div class="col-md-4 col-xs-12">
                    <input type="text" class="form-control" id="nameField"
                    placeholder="Your First Name" />
                    </div>
                    <label for="nameField" class="col-md-2 col-xs-12">Middle Name</label>
                    <div class="col-md-4 col-xs-12">
                    <input type="text" class="form-control" id="nameField"
                    placeholder="Your Middle Name" />
                    </div>
                    </div>
                     <div class="form-group">
                    <label for="emailField" class="col-md-2 col-xs-12">Last Name</label>
                    <div class="col-md-4 col-xs-12">
                    <input type="email" class="form-control" id="emailField"
                    placeholder="Your Last Name" />
                    </div>
                    <label for="dob" class="col-md-2 col-xs-12">DOB(MM/DD/YYYY)</label>

            <div class='col-md-4 col-xs-12'>
            <input type='text' name="dob" id='datetimepicker5' class="form-control" data-date-format="YYYY/MM/DD" />
             </div>
             </div>
                    <div class="form-group">
                    <label for="phoneField" class="col-md-2 col-xs-12">Secondary Email</label>
                    <div class="col-md-4 col-xs-12">
                    <input type="text" class="form-control" id="phoneField"
                    placeholder="Your Phone Number" />
                    </div>
                    <label for="phoneField" class="col-md-2 col-xs-12">Phone</label>
                    <div class="col-md-4 col-xs-12">
                    <input type="text" class="form-control" id="phoneField"
                    placeholder="Your Phone Number" />
                    </div>
                    </div>
                    <div class="form-group">
                    <label for="descField" class="col-xs-2">Description</label>
                    <div class="col-xs-10">
                    <textarea class="form-control" id="descField"
                    placeholder="Your Comments"></textarea>
                    </div>
                    </div>
                </div>
                 <div id="sectionD" class="tab-pane fade">
                     <h3 class="col-xs-12">Student Financial Details</h3>
                    <div class="form-group">
                    <label for="nameField" class="col-xs-12 col-md-2">First Name</label>
                    <div class="col-md-4 col-xs-12">
                    <input type="text" class="form-control" id="nameField"
                    placeholder="Your First Name" />
                    </div>
                    <label for="nameField" class="col-md-2 col-xs-12">Middle Name</label>
                    <div class="col-md-4 col-xs-12">
                    <input type="text" class="form-control" id="nameField"
                    placeholder="Your Middle Name" />
                    </div>
                    </div>
                     <div class="form-group">
                    <label for="emailField" class="col-md-2 col-xs-12">Last Name</label>
                    <div class="col-md-4 col-xs-12">
                    <input type="email" class="form-control" id="emailField"
                    placeholder="Your Last Name" />
                    </div>
                    <label for="dob" class="col-md-2 col-xs-12">DOB(MM/DD/YYYY)</label>

            <div class='col-md-4 col-xs-12'>
            <input type='text' name="dob" id='datetimepicker5' class="form-control" data-date-format="YYYY/MM/DD" />
             </div>
             </div>
                    <div class="form-group">
                    <label for="phoneField" class="col-md-2 col-xs-12">Secondary Email</label>
                    <div class="col-md-4 col-xs-12">
                    <input type="text" class="form-control" id="phoneField"
                    placeholder="Your Phone Number" />
                    </div>
                    <label for="phoneField" class="col-md-2 col-xs-12">Phone</label>
                    <div class="col-md-4 col-xs-12">
                    <input type="text" class="form-control" id="phoneField"
                    placeholder="Your Phone Number" />
                    </div>
                    </div>
                    <div class="form-group">
                    <label for="descField" class="col-xs-2">Description</label>
                    <div class="col-xs-10">
                    <textarea class="form-control" id="descField"
                    placeholder="Your Comments"></textarea>
                    </div>
                    </div>
           
                </div>
                 <div class="col-xs-10 col-xs-offset-2">
           <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-default">Reset</button>
            </div>
       </div>  

 